@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --cor-de-fundo: #BDA6CE;
    --cor-texto-principal: #000000;
    --cor-texto-secundario: #9B8EC7;
    --botao-ativo: #7e70ad;
    --botao-inativo: #7769a5;

}

body {
    background: var(--cor-de-fundo);
    color: var(--cor-texto-principal);
    font-family: "Archivo Black", sans-serif;
}

.conteudo-principal {
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: #620e9e
}

.botao {
    background-color: var(--botao-inativo);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botao:first-child{
    border-radius: 40px 40px 0 0;
}

@media screen and (min-width: 768px){
    .botoes{
        display: flex;
    }

.botao:last-child{ 
border-radius: 40px 0 0 0;
}
    

.botao:first-child{
border-radius: 0 40px 0 0;
}
}